<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>상세정보</th>
        <th>대표상품 이름</th>
        <th>총 주문가격</th>
        <th>대표상품 주문수량</th>
        <th>상태</th>
        <th>일시</th>
        <th>배송 상태</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item : ${orders}">
        <td th:text="${item.id}"></td>
        <td>
          <a th:if="${item.status.name() == 'ORDER'}" href="#"
             th:href="'javascript:goToOrderSuccess('+${item.id}+')'">주문 정보</a>
        </td>
        <td>
          <span th:if="${item.ordersItems.size() > 1}">
            <span th:text="${item.ordersItems[0].item.name} + ', '"></span>
              <span> 그 외 <span th:text="${item.ordersItems.size() - 1}"></span>개</span>
          </span>
                <!-- OrderItem이 1개일 때 -->
          <span th:unless="${item.ordersItems.size() > 1}">
              <span th:text="${item.ordersItems[0].item.name}"></span>
          </span>
        </td>
        <td th:text="${item.getTotalPrice()}"></td>
        <td th:text="${item.ordersItems[0].count}"></td>
        <td th:text="${item.status}"></td>
        <td th:text="${item.orderDate}"></td>
        <td th:text="${item.delivery.status}"></td>
        <td>
          <a th:if="${item.status.name() == 'ORDER' and item.delivery.status.name() == 'READY'}" href="#"
             th:href="'javascript:cancel('+${item.id}+')'"
             class="btn btn-danger">CANCEL</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
 function cancel(id) {
 var form = document.createElement("form");
 form.setAttribute("method", "post");
 form.setAttribute("action", "/order/" + id + "/UserCancel");
 document.body.appendChild(form);
 form.submit();
 }

 function goToOrderSuccess(id) {
    window.location.href = "/order/success?id=" + id;
 }
</script>
</html>