<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <form role="form" th:action="@{/order/orderInsert}" method="post">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>상품 ID</th>
                <th>상품명</th>
                <th>수량</th>
                <th>가격</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="basket, i : ${baskets}">
                <input type="hidden" th:name="'items[' + ${i.index} + '].itemId'" th:value="${basket.getItem().getId()}" />
                <input type="hidden" th:name="'items[' + ${i.index} + '].price'" th:value="${basket.getItem().getPrice()}" />
                <input type="hidden" th:name="'items[' + ${i.index} + '].name'" th:value="${basket.getItem().getName()}" />
                <input type="hidden" th:name="'items[' + ${i.index} + '].count'" th:value="${basket.getCount()}" />

                <td th:text="${i.count}">1</td>
                <td th:text="${basket.getItem().getId()}"></td>
                <td th:text="${basket.getItem().getName()}"></td>
                <td th:text="${basket.getCount()}"></td>
                <td th:text="${basket.getItem().getPrice()}"></td>
                <td>
                    <a href="#" th:href="@{/basket/{id}/delete (id=${basket.getItem().getId()})}"
                       class="btn btn-primary" role="button">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="w-100 btn btn-lg btn-outline-primary" th:text="${total + '원'}">구매하기</button>
    </div>
    </form>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>