<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <form th:action="@{/basket/{id}/takeIt (id=${itemId})}" th:object="${form}" method="post">
    <!-- id -->
    <input type="hidden" th:value="${itemId}" name="itemId" />
    <div class="form-group">
      <label th:for="name">상품명</label>
      <input type="text" class="form-control" th:field="*{name}" readonly/>
    </div>
    <div th:if="${form.images != null}">
      <label class="form-label">Images</label>
      <div>
        <th:block th:each="image : ${form.images}">
          <img th:src="${image.imgUrl}" alt="Image" width="200px" height="200px">
        </th:block>
      </div>
    </div>
    <div class="form-group">
      <label th:for="price">주문 가격</label>
      <input type="number" class="form-control" th:field="*{price}" readonly/>
    </div>
    <div class="form-group">
      <label th:for="count">주문 수량</label>
      <input type="number" name="count" class="form-control" placeholder="수량을 입력하세요" />
    </div>
    <button type="submit" class="btn btn-primary">장바구니</button>
  </form>
  <a href="#" th:href="@{/item/{id}/order (id=${itemId})}"
     class="btn btn-primary" role="button">주문</a>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>

</html>